<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">


<bean id="empId" class="com.ty.Employee">

<property name="name" value="pratima"></property> <!-- setter method of name variable -->
<property name="email" value="pratima@gmail.com"></property> <!-- setter method of email variable -->
<property name="salary" value="50000"></property> <!-- setter method of salary variable -->

</bean>
</beans>